body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

section {
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

#total-entradas, #total-saidas-paulo, #total-saidas-jonann, #total-saidas, #saldo-atual {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

#saldo-atual {
  color: #333;
}

/* Adicionei essas linhas para tornar o layout responsivo */
main {
  max-width: 800px;
  margin: 0 auto;
}

section {
  width: 100%;
}

ul {
  width: 100%;
}

li {
  width: 100%;
}

/* Adicionei essas linhas para tornar o layout mais bonito */
header {
  background-image: linear-gradient(to bottom, #000024, #00004d);
}

main {
  background-color: #f7f7f7;
}

section {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
  color: #e63838;
}

ul {
  padding: 20px;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
} 

h1 {
  color: #307fff;
}